extends ../layout
include ../navigation
block body
    div.main-wr.container.clearfix
        div.sidemenu
            +navigation
        div.content
            h1.content-title Colour Palette
            h2 Primary Palette
            div.colors-wrapp.clearfix
                - var colors = [{variable: 'brand-primary', value: '#2780e3'},{variable: 'brand-success', value: '#3fb618'},{variable: 'brand-info', value: '#9954bb'},{variable: 'brand-warning', value: '#ff7518'},{variable: 'brand-danger', value: '#ff0039'}]
                each color in colors
                    div.color-card
                        label(style='background-color:' + color.value).color-inp-lbl
                            input(type='text' value=color.value placeholder='add new').color-inp
                        label
                            input(type='text' value=color.variable placeholder='add new').var-value
                div.color-card
                    label.color-inp-lbl
                        input(type='text' placeholder='#000000').color-inp
                    label
                        input(type='text' placeholder='add new').var-value
                div.color-card
                    a(href="javascript:void(0);").color-inp-btn +
            h2 Secondary Palette
            div.colors-wrapp.clearfix
                - var secondaryColors = [{variable: '', value: ''},{variable: '', value: ''},{variable: '', value: ''},{variable: '', value: ''}]
                each secondaryColor in secondaryColors
                    div.color-card
                        label(style='background-color:' + secondaryColor.value).color-inp-lbl
                            input(type='text' value=secondaryColor.value placeholder='#000000').color-inp
                        label
                            input(type='text' value=secondaryColor.variable placeholder='add new').var-value
                div.color-card
                    a(href="javascript:void(0);").color-inp-btn +
        div.content
            h1.content-title Fonts
            h2 Font Family
            div.fonts-wrapp.clearfix
                - var fontFamilies = [{variable: 'primary-font-family', value: '"Arial"'},{variable: '', value: ''}]
                each fontFamily in fontFamilies
                    div.font-family-card
                        label
                            input(type='text' value=fontFamily.value placeholder='"Arial"').font-inp
                        label
                            input(type='text' value=fontFamily.variable  placeholder='add new').var-value
                div.font-family-card.font-add-btn
                    a(href="javascript:void(0);") +
            h2 Font Size
            p Headings
            div.fonts-wrapp.clearfix
                - var fontSizes = [{variable: 'font-size-h1', value: '26'}, {variable: 'font-size-h2', value: '22'}, {variable: 'font-size-h3', value: '20'}, {variable: 'font-size-h4', value: '18'}]
                each fontSize in fontSizes
                    div.font-size-card
                        label
                            input(type='text' value=fontSize.value placeholder='15').font-inp
                            | px
                        label
                            input(type='text' value=fontSize.variable placeholder='font-size-h*').var-value
                div.font-size-card
                    label
                        input(type='text' placeholder='14').font-inp
                        | px
                    label
                        input(type='text' placeholder='font-size-h*').var-value
                div.font-family-card.font-add-btn
                    a(href="javascript:void(0);") +

            p Example Body Text
            div.fonts-wrapp.clearfix
                div.font-size-card.multiple
                    label
                        input(type='text' value="14" placeholder='14').font-inp
                        | px
                    label
                        input(type='text' value="main-font-size" placeholder='main-font-size').var-value
                    label
                        input(type='text' value="#000000" placeholder='#000000').color-inp
                    label
                        input(type='text' value="main-font-color" placeholder='main-font-color').var-value

                div(style='color: #000000; font-size: 14px') London is the capital of the United Kingdom of Great Britain and Northern Ireland. It is the largest city in Europe and one of the largest cities in the world with the population of 11 million people. About a fifth of the total population of the UK lives in the Greater London area, that is London and its suburbs.


            p Muted Text
            div.fonts-wrapp.clearfix
                div.font-family-card
                    label
                        input(type='text' value="#999999" placeholder='#999999').font-inp
                    label
                        input(type='text' value="muted-text-color" placeholder='muted-text-color').var-value

                div(style='color: #999999') London is the capital of the United Kingdom of Great Britain and Northern Ireland. It is the largest city in Europe and one of the largest cities in the world with the population of 11 million people. About a fifth of the total population of the UK lives in the Greater London area, that is London and its suburbs.

            p Some Other Text
            div.fonts-wrapp.clearfix
                div.font-family-card
                    label
                        input(type='text' value="#" placeholder='#dddddd').font-inp
                    label
                        input(type='text' placeholder='add-new-text-color').var-value

                div(style='color: #dddddd') London is the capital of the United Kingdom of Great Britain and Northern Ireland. It is the largest city in Europe and one of the largest cities in the world with the population of 11 million people. About a fifth of the total population of the UK lives in the Greater London area, that is London and its suburbs.
            div.clearfix
                div.font-family-card.font-add-btn.full-width
                    a(href="javascript:void(0);") +

        div.content
            h1.content-title Border Radius
            h2 Primary Border Radius
            div.radius-wrapp.clearfix
                div.font-size-card.multiple
                    label
                        input(type='text' value="4" placeholder='14').font-inp
                        | px
                    label
                        input(type='text' value="main-border-radius" placeholder='main-border-radius').var-value

                div.font-size-card.example-card
                    label
                        input(type='text' value='Input example' style='border-radius: 4px')

                div.font-size-card.example-card
                    button.btn.btn-success(type='button' style='border-radius: 4px') Button example

